# Pandas Practice - Part 1

Use this notebook to follow along wit the tasks in the `AO3-Pandas_Part1.ipynb` notebook.

#### Task 1.1: Setup

Import `pandas` as `pd`.

In [17]:
import pandas as pd
import numpy as np

#### Task 2a Create a `pd.Series` object
Use the practice notebook to create a series of your own design.

In [2]:
first_series = pd.Series([2, 3, 3, 45, 5, 45, 45])

In [3]:
first_series

0     2
1     3
2     3
3    45
4     5
5    45
6    45
dtype: int64

#### Task 2b: Create a pd.DataFrame object from a Python dictionary

In [11]:
my_dict = {"orange": [13, 23], "lime": [45, 4], "peach": [56, 7]}
my_df = pd.DataFrame(my_dict)
my_df

   orange  lime  peach
0      13    45     56
1      23     4      7

#### Task 2c: Supply indexes and columns when creating a pd.DataFrame object.

In [36]:
my_array1 = np.random.random((6, 4))
print(my_array1)
colnames = ["lime", "orange", "apple", "pine"]
rownames = ["farm1", "farm3", "farm10", "farm32", "farm45", "farm101",]

my_df3 = pd.DataFrame(my_array1, index=rownames, columns=colnames)

my_df3

[[0.90277049 0.09834596 0.77867796 0.29020053]
 [0.34469351 0.09782548 0.3794574  0.16933293]
 [0.52305341 0.19809593 0.49270275 0.14054981]
 [0.82234541 0.29388884 0.56666366 0.68184388]
 [0.20889083 0.55361809 0.33912386 0.10066071]
 [0.11204811 0.23666014 0.37599519 0.69682735]]

             lime    orange     apple      pine
farm1    0.902770  0.098346  0.778678  0.290201
farm3    0.344694  0.097825  0.379457  0.169333
farm10   0.523053  0.198096  0.492703  0.140550
farm32   0.822345  0.293889  0.566664  0.681844
farm45   0.208891  0.553618  0.339124  0.100661
farm101  0.112048  0.236660  0.375995  0.696827

#### Task 3a: Download the iris.csv file.
Download the iris data and take a moment to learn about this data from the Wikipedia page cited above

#### Task 3b: Import the iris.csv file
In your own practice notebook, import the iris dataset.

In [39]:
my_data = pd.read_csv("data/iris.csv")

#### Task 3c: Import a tab delimited file
Take a look at the `pd.read_csv` online documentation. Describe how you would import a tab-delimited file.

In [ ]:
#change the delimiter as a space ie sep = " " as opposed to ","

#### Task 4a: Use head, tail and sample with the iris data frame.

In [45]:
my_data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [47]:
my_data.head().T #transpose if the columns are too many to visualize easily

                   0       1       2       3       4
sepal_length     5.1     4.9     4.7     4.6       5
sepal_width      3.5       3     3.2     3.1     3.6
petal_length     1.4     1.4     1.3     1.5     1.4
petal_width      0.2     0.2     0.2     0.2     0.2
species       setosa  setosa  setosa  setosa  setosa

#### Task 5a: Display the columns and indexes of the iris data frame.

In [53]:
my_data.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [50]:
pwd

'C:\\Users\\linda\\hort503-2019\\ClassExercises'

In [52]:
ls

 Volume in drive C is OS
 Volume Serial Number is 4026-2FCD

 Directory of C:\Users\linda\hort503-2019\ClassExercises

03/05/2019  11:15 AM    <DIR>          .
03/05/2019  11:15 AM    <DIR>          ..
03/04/2019  01:43 PM    <DIR>          .ipynb_checkpoints
02/26/2019  10:45 AM            33,712 02-1.Numpy.ipynb
02/26/2019  11:35 AM            20,850 02-2.Numpy_Practice.ipynb
03/05/2019  11:15 AM            21,991 A03-Pandas_Part1-Practice.ipynb
03/04/2019  01:41 PM             5,339 A04-Pandas_Part2-Practice.ipynb
02/08/2019  03:11 PM             1,381 class_day05.py
03/05/2019  10:09 AM    <DIR>          data
02/10/2019  03:00 PM         2,439,612 ex_day05.txt
02/21/2019  12:31 PM             1,286 gamelife.py
02/28/2019  12:10 PM           380,757 L02-Numpy_Part1.ipynb
02/10/2019  11:37 AM         2,439,612 out_file
02/09/2019  08:46 AM         1,943,093 out_file.xlsx
01/24/2019  03:39 PM         1,590,437 SRR2931278_vs_all.fpkm
              11 File(s)      8,878,070 bytes
               4 Dir(s)  29,301,514,240 bytes free

In [ ]:
# cd/data

#### Task 5b: Check the version of `pandas` you have, then convert a data frame to a numpy array.

In [44]:
my_data.sample()

    sepal_length  sepal_width  petal_length  petal_width     species
89           5.5          2.5           4.0          1.3  versicolor

#### Task 5c: Make selections with `loc`

+ Select a single item with `at`.
+ Select a row slice with `loc`.
+ Select a row and column slice with `loc`.

In [70]:
my_data.loc[[0], ['petal_length']]

   petal_length
0           1.4

In [74]:
# my_data.at([0])

TypeError: unhashable type: 'list'

In [58]:
my_data.loc[[0]]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [65]:
my_data.loc[0:5, 'petal_length':'species']

   petal_length  petal_width species
0           1.4          0.2  setosa
1           1.4          0.2  setosa
2           1.3          0.2  setosa
3           1.5          0.2  setosa
4           1.4          0.2  setosa
5           1.7          0.4  setosa

In [68]:
my_data.loc[[0,5], ['petal_length','species']]

   petal_length species
0           1.4  setosa
5           1.7  setosa

#### Task 5d: Make selections with `iloc` and `iat`.

+ Select a single item with `iat`.
+ Select a row slice with `iloc`.
+ Select a row and column slice with `iloc`.

In [80]:
my_data.iloc[[5], [0]]

   sepal_length
5           5.4

#### Task 5e: Boolean Indexing

Create subsets using boolean indexes that:
+ Use one boolean operator.
+ Use two boolean operators.